section {
		    position: relative;
		}
		.persona_bg{
			background-color: #f77c9b;
			background-image: url("img/disco/persona/discography-bg.png");
			background-repeat: repeat-y;
			background-size: 100% auto;
			position: relative;
		}
		.back{
			position: relative;
			margin-top: -50px;
			margin-left: 14%;
			margin-right: 14%;
		}
		.contents-obj{
			margin-top: 30px;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
			
		}
		.contents-obj img {
		    display: block;
		    width: 100%;
		}
		.album-desc {
	    	color: #383032;
	    	display: table;
   		 	padding: 0 180px 160px;
		}
		.album-detail > * {
		    max-width: 1440px;
		    margin: 0 auto;
		}
		.half > * {
		    float: left;
		    width: 50%;
		}
		.contents-sort {
		    color: #a33267;
    		padding-left: 2px;
    		font-size: 18px;
		}
		
		.contents-title {
		    margin-bottom: 25px;
		    margin-top: 0px;
		    text-align: center;
		    position: relative;
		    font-size: 80px;
		    line-height: 70px;
		    letter-spacing: -0.01em;
		    color: #fff;
		    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
		    z-index: 1;
		}
		.contents-desc {
		    padding-left: 8px;
		    font-family: Noto Sans KR;
    		font-size: 15px;
    		line-height: 29px;
    		letter-spacing: -0.06em;
		}
		.album-detail .contents-sub {
		    font-family: Noto Sans KR;
		    font-size: 16px;
		    line-height: 18px;
		    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		}
		.contents {
		    padding-left: 65px;
		}
		.contents .contents-title{
			text-align: left;
		}
		.album-detail {
		    background-position: center top -29px;
		    background-size: 1588px auto;
		    padding: 175px 0 54px;
		}
		.box{
			position: relative;
			left: 0;
			right: 0;
			width: 100%
		}
		.box td{
			vertical-align: top;
		}
		.album-video {
			position: relative;
		    max-width: 100%;
		    left: 0;
		    right: 0;
		}
		.album-video .contents-title{
			position: relative;
			margin-bottom: -1%;
		}
		.album-detail .contents-sub {
		    font-family: Noto Sans KR;
		    font-size: 16px;
		    line-height: 18px;
		    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		}
		.album-detail .contents-sub {
		    font-family: Noto Sans KR;
		    font-size: 16px;
		    line-height: 18px;
		    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		}
		.nowrap {
		    white-space: nowrap;
		}
		.contents-sub {
		    font-family: Noto Sans KR;
		    font-size: 16px;
		    color: #f0c5cf;
		    line-height: 18px;
		    letter-spacing: -0.02em;
		}
		.album-detail .album-video .slide-wrap {
		    position: relative;
		    background: #ef6c90;
		    left: 0;
		    right: 0;
		}
		.album-detail .album-video .slide-wrap > ul {
		    overflow: auto;
		    list-style: none;
		    position: relative;
		    width: 100%;
		    max-width: 1120px;
		    margin: 0 auto;
		    top: -28px;
		}